glob2==0.7
joblib==1.2.0
keras==2.5.0rc0
lightgbm==3.2.1
matplotlib==3.7.5
matplotlib-inline==0.1.6
numpy==1.21.5
opencv-contrib-python-headless==4.7.0.72
opencv-python==4.6.0.66
pandas==1.4.4
pathlib==1.0.1
pillow==10.0.1
protobuf==3.20.0
pytest==8.1.1
pytest-shutil==1.7.0
scikit-image==0.20.0
scikit-learn==1.1.1
scipy==1.10.1
tensorflow==2.5.0
xgboost==2.0.3
libgl1-mesa-glx==21.2.6-0ubuntu0.1~20.04.2
libglib2.0-dev==2.64.6-1~ubuntu20.04.6



